* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url();
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    background-color: black;
    /* text-align: center; */

}
h1 {
    font-size: 1.5em;
    color: rgb(255 0 150);
    text-align: center;
    object-fit: cover;
    
}

h2{
    font-size: 1.5em;
    color: rgb(255 0 150);
    
}

header {
    width: 100%;
    
    height: 70px;
    
}

nav {
    padding: 15px 10px;
    word-spacing: 30px;
    text-align: center;
    box-sizing: border-box;
    width: 100vw;
    top: 0px;
    font-size: 30px;
}

nav li {
    display: inline-block;
}

a {
    color: rgb(30 241 203);
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px;
  }
  
 nav a:hover {
    background-color:#74fc36;
    color: rgb(255 0 150);
    transition: 0.8s;
    padding: 10px;
  }




#banner img {
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
}

#can {
    padding: 4px;
    width: 10px;
    transform-origin: top center;
    object-fit: contain;
}

#can img{
    justify-content: right;
    width: 6vw;
}

main{
    color: rgb(30 241 203);
    padding: 30px;
    box-sizing: border-box;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
}

#about{
    padding: 20px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#projects{
    
    padding: 20px;
    
    
}

#projects li{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    padding: 50px;
}

#other{
    display: flex;flex-wrap: wrap;
    padding: 20px;
    display: grid;
    width: 100%;
    justify-content: center;
}

#other li{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    padding: 50px;
}

#contact{
    padding: 20px;
}

#contact a{
    padding: 3px 10px;
    color: #74fc36;
    word-spacing: 50px;
    box-sizing: border-box;
    width: 10vw;
    top: 0px;
    font-size: 30px;
}

#contact a:hover{
    background-color:#74fc36;
    color: rgb(255 0 150);
    transition: 0.8s;
    padding: 10px;
}

figure{
    border-radius: 10px;
    padding: 10px;
    
}

figcaption{
    padding: 5px;
    

}

#container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 5vh;
    justify-content: center;
}


figure img{
    width: 100%;
    display: block;
}

footer{
    padding: 50px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px;
}

#header, #banner, #about, #contact, #projetcs, #other{
    padding: 20px;
    margin: 0 auto;
}
